@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
.scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

@layer components {
  html {
    scroll-behavior: smooth;
  }
  .reglo {
    @apply flex items-center justify-center;
  }
  .reglo-form {
    @apply max-w-lg sm:max-w-md xl:max-w-xl p-6 mt-20 bg-white rounded-lg shadow-md;
  }
  .reglo-input-field {
    @apply w-full px-3 py-2 border border-slate-900 text-black placeholder:text-slate-600 bg-transparent rounded-md pl-10 outline-none;
  }
}